"*":
  "activate-power-mode":
    comboMode:
      enabled: false
    playAudio: {}
  "autocomplete-plus":
    confirmCompletion: "enter"
    useCoreMovementCommands: false
  autosave:
    enabled: true
  "clang-format":
    formatCOnSave: true
    formatCPlusPlusOnSave: true
    formatObjectiveCOnSave: true
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "language-php"
      "language-perl"
      "language-objective-c"
      "language-mustache"
      "language-clojure"
      "language-csharp"
      "language-property-list"
      "language-source"
      "language-toml"
      "language-yaml"
      "activate-power-mode"
      "autocomplete-haskell"
      "haskell-ghc-mod"
      "ide-haskell"
      "language-gfm"
      "markdown-preview"
      "language-ruby-on-rails"
      "language-coffee-script"
      "language-java"
      "language-ruby"
      "hyperclick"
      "go-debug"
      "go-plus"
      "go-signature-statusbar"
      "language-haskell"
    ]
    packagesWithKeymapsDisabled: [
      "goto-last-edit"
    ]
    projectHome: "/Users/heshihao/Documents/workspace"
    telemetryConsent: "no"
  date:
    dateFormat: "MM/DD/YYYY"
    timeFormat: "HH:MI:SS PP"
  editor: {}
  "exception-reporting":
    userId: "3fe16eb7-eaab-8a59-6b6f-50fbb9ba44ce"
  "gist-it":
    userToken: "110a009a1aa78b7c9b1ecf637948793a01c569f4"
  "git-plus":
    general:
      _analyticsUserId: "2aa9dbdd-51c7-486d-8096-f0e7a9038681"
  "go-plus":
    panel: {}
  "haskell-ghc-mod": {}
  linter:
    lintOnChange: false
  "linter-eslint": {}
  "linter-ui-default":
    showPanel: true
  "markdown-preview":
    breakOnSingleNewline: true
    liveUpdate: false
    useGitHubStyle: true
  "markdown-preview-enhanced":
    mathRenderingOption: "None"
  "markdown-writer": {}
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
    prettierOptions:
      semi: false
      singleQuote: true
    useEslint: true
  react:
    enabledForAllJavascriptFiles: true
  "relative-numbers":
    softWrapsCount: false
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "vim-mode-plus":
    clearHighlightSearchOnResetNormalMode: true
    clearPersistentSelectionOnResetNormalMode: true
    highlightSearch: true
    useClipboardAsDefaultRegister: true
  "vim-mode-plus-ex-mode":
    notifiedUseExMode: true
  welcome:
    showOnStartup: false
  whitespace: {}
".coffee.jsx.source":
  editor:
    autoIndent: false
